.job-query {
  display: flex;
  align-items: flex-end;

  & .form-group {
    padding-top: 15px;
    padding-right: 15px;
    margin-bottom: 0;

    & label {
      @extend .font-weight-boild;
    }
  }
}
