.welcome {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;

  & span {
    text-transform: uppercase;
    display: block;
  }

  &-title {
    color: #000;
    font-size: 60px;
    font-weight: 700;
    letter-spacing: 8px;
    margin-bottom: 20px;
    position: relative;
    animation: welcome-animation 3s 1;

    &-sub {
      font-size: 30px;
      font-weight: 700;
      color: #6ab04c;
    }
  }
}

@keyframes welcome-animation {
  0% {
    color: #fff;
    background-color: #8bc34a;
    margin-bottom: -40px;
  }
  30% {
    color: #fff;
    background-color: #8bc34a;
    letter-spacing: 25px;
    margin-bottom: -40px;
  }
  85% {
    color: #fff;
    background-color: #8bc34a;
    letter-spacing: 8px;
    margin-bottom: -40px;
  }
}
