.job-content {
  margin-top: 15px;
  margin-bottom: 15px;
  padding-bottom: 15px;
  border: 3px solid $light-color;

  &-title {
    font-size: 20px;
    font-weight: 700;
    margin-top: 15px;
    border-bottom: 1px solid $light-color;
    margin-bottom: 0;
    padding-bottom: 15px;
  }

  &-subscribe {
    &-item {
      @extend .font-weight-boild;

      border: 1px solid $light-color;
      padding: 5px;
      border-radius: 5px;
      margin-bottom: 7px;
      display: block;
      color: #000;

      &:hover {
        @extend .hover;

        color: $primary-color;
        text-decoration: none;
      }

      & .fa-gitlab {
        color: #e2432a;
      }
    }

    &-email {
      padding: 5px;
      border-radius: 5px;
      border: 3px solid $light-color;

      &-title {
        @extend .font-weight-boild;

        border-bottom: 1px solid $light-color;
        margin-bottom: 8px;
        padding-bottom: 8px;
      }

      &-submit {
        width: 100%;
      }
    }
  }

  &-item {
    padding: 6px 0;
    border-bottom: 1px solid $light-color;

    & p {
      margin: 0;
      font-size: 14px;
    }

    & .job-content {
      &-title {
        font-size: 20px;
        font-weight: 700;
        margin-top: 15px;
        border-bottom: 1px solid $light-color;
        margin-bottom: 0;
        padding-bottom: 15px;
      }
    }

    & .job-searches-item {
      text-decoration: underline;
    }

    &-location {
      text-align: right;
      color: #666;
    }

    &-timeline {
      text-align: right;
      color: #999;
    }

    &-position {
      @extend .font-weight-boild;
      @extend .text-info;
    }

    &-more {
      @extend .font-weight-boild;
      @extend .text-info;

      &:hover {
        cursor: pointer;
      }
    }

    &-company {
      color: #999;
    }
  }

  & .go-back {
    @extend .hover;

    color: $primary-color;
  }
}
