.footer {
  &-menu {
    list-style-type: none;
    display: flex;
    padding-left: 0;

    & li {
      padding-right: 15px;

      & a {
        text-decoration: none;
        color: #000;
      }
    }
  }
}
