.navbar-dark {
  & .navbar-brand {
    color: $text-primary-color;

    &:focus {
      color: $text-primary-color;
    }

    &:active {
      color: $text-primary-color;
    }

    &:hover {
      cursor: pointer;
      color: $text-primary-color;
    }
  }

  & .navbar-nav {
    & .border-right-dotted {
      border-right: 1px dotted $primary-color;
    }

    & .nav-link {
      color: $black;

      &:hover {
        color: $text-primary-color;
      }

      &:focus {
        color: $text-primary-color;
      }

      &:active {
        color: $text-primary-color;
      }

      &.active {
        color: #000;
      }
    }
  }
}
