@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');
@import '../src/styles/variables';
@import '../node_modules/bootstrap/scss/bootstrap.scss';

// Components
@import './components/job-navbar/index.scss';
@import './components/job-query/index.scss';
@import './components/job-content/index.scss';
@import './components/job-footer/index.scss';

body {
  font-family: $primary-font;
  background: $white;
}

.text-default {
  color: $primary-color;
}

.bg-default {
  background-color: $light-color;
}

.font-weight-boild {
  font-weight: bold;
}

.hover {
  &:hover {
    cursor: pointer;
  }

  &-color {
    &:hover {
      color: $primary-color;
    }
  }
}

.text {
  &-right {
    text-align: right;
  }

  &-left {
    text-align: left;
  }

  &-center {
    text-align: center;
  }
}
